*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	
	font-family: '33535gillsansmt';
	color: #edecf2;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #ff3d53;
	outline: none;
	transition: color 0.2s;
}

a:hover,
a:focus {
	color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.message-mobile {
	font-size: 0.85em;
	display: none;
	width: 100%;
	padding: 0.5em;
	text-align: center;
	background: #ff3d53;
}

/* Header */
.codrops-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 1.5em 1.5em 4em;
	text-align: left;
}

.codrops-header__title {
	font-size: 1.15em;
	margin: 0;
	padding: 0 0.5em;
}

.codrops-header__tagline {
	font-size: 0.85em;
	width: 100%;
	margin: 0;
	color: #b0adad;
}

.codrops-header__tagline::before {
	content: '> ';
}

.github {
	font-size: 0.85em;
	font-weight: bold;
	margin: 0 0 0 auto;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	content: '';
	position: absolute;
	top: 20%;
	left: 50%;
	width: 1px;
	height: 60%;
	background: #b0adad;
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.25em 0 0.25em 0.25em;
	padding: 0.35em 0 0.35em 0.35em;
}

.codrops-icon:first-child {
	margin: 0.25em 0.25em 0.25em 0;
	padding: 0.35em 0.35em 0.35em 0;
}

/* Content */
.content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 0 1em;
}

.content:not(:first-child) {
	padding: 4em 0;
	padding-top: 0px;
	padding-bottom: 0px; 
}

.content.content--padded {
	padding: 4em 0 8em;
}

.content__title {
	font-size: 0.85em;
	position: absolute;
	top: 18%;
	left: 2em;
	width: 5em;
	margin: 0.75em 0;
	color: #b0adad;
}

/* Grid */
.grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 7em;
	perspective: 800px;
	perspective-origin: 50% 100%;
}

.grid__item {
	position: relative;
	display: block;
	flex: none;
	width: 250px;
	margin: 1.5em 2vw;
	cursor: default;
	transform-style: preserve-3d;
}

.grid__item:hover,
.grid__item:focus {
	outline: none;
}

.grid__item--c1,
.grid__item--c1:hover,
.grid__item--c1:focus {
	color: #e61f57;
}

.grid__item--c2,
.grid__item--c2:hover,
.grid__item--c2:focus {
	color: #f89106;
}

.grid__item--c3,
.grid__item--c3:hover,
.grid__item--c3:focus {
	color:#e61f57;
}

.stack {
	position: relative;
	width: 100%;
	height: 200px;
	transform-style: preserve-3d;
}

.stack__deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	transform-origin: 50% 100%;
}

.stack__deco:first-child {
	opacity: 0.2;
}

.stack__deco:nth-child(2) {
	opacity: 0.4;
}

.stack__deco:nth-child(3) {
	opacity: 0.6;
}

.stack__deco:nth-child(4) {
	opacity: 0.8;
}

.stack__figure {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-origin: 50% 100%;
}

.stack__img {
	position: relative;
	display: block;
	flex: none;
}

.grid__item-caption {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	transform-style: preserve-3d;
}

.grid__item-title {
	font-size: 1.15em;
	width: 100%;
	margin: 1em 0;
	text-align: left;
	color: #000;
}

.column {
	width: 50%;
	padding: 0 0.5em;
	opacity: 0;
}

.column--left {
	text-align: right;
}

.column--right {
	text-align: left;
}

.column__text {
	font-size: 0.85em;
	display: block;
	color: #b0adad;
}

.column--left .column__text {
	font-weight: bold;
}

.column--right .column__text {
	color: #b0adad;
}

/* Individual effects */

/* Vega */
.grid--effect-vega .column {
	opacity: 1;
}

/* Castor */
.grid--effect-castor .stack__figure,
.grid--effect-castor .stack__deco {
	transform-origin: 50% 50%;
}

.grid--effect-castor .column {
	opacity: 1;
}

/* Hamal */
.grid--effect-hamal {
	perspective: none;
}

.grid--effect-hamal .column {
	opacity: 1;
}

/* polaris */
.grid--effect-polaris {
	perspective-origin: 100% -100%;
}

.grid--effect-polaris .column {
	opacity: 1;
}

/* Alphard */
.grid--effect-alphard {
	perspective: none;
}

.grid--effect-alphard .column {
	opacity: 1;
}

.grid--effect-alphard .stack__figure,
.grid--effect-alphard .stack__deco {
	transform-origin: 50% 150%;
}

/* Altair */
.grid--effect-altair {
	perspective-origin: 50% -50%;
}

.grid--effect-altair .column {
	opacity: 1;
}

.grid--effect-altair .stack__figure,
.grid--effect-altair .stack__deco {
	transform-origin: 50% 100%;
}

/* rigel */
.grid--effect-rigel {
	perspective-origin: 50% 100%;
}

.grid--effect-rigel .column {
	opacity: 1;
}

/* Canopus */
.grid--effect-canopus {
	perspective-origin: 50% 0%;
}

.grid--effect-canopus .column {
	opacity: 1;
}

.grid--effect-canopus .stack__figure,
.grid--effect-canopus .stack__deco {
	transform-origin: 50% 100%;
}

/* pollux */
.grid--effect-pollux {
	perspective: 1000px;
	perspective-origin: 50% -70%;
}

.grid--effect-pollux .column {
	opacity: 1;
}

.grid--effect-pollux .stack__figure,
.grid--effect-pollux .stack__deco {
	transform-origin: 50% 50%;
}

.grid--effect-pollux .grid__item-caption > .grid__item-title {
	transform-origin: 50% -200%;
}

/* deneb */
.grid--effect-deneb {
	perspective: none;
}

.grid--effect-deneb .stack__figure,
.grid--effect-deneb .stack__deco {
	transform-origin: 50% 50%;
}

.grid--effect-deneb .grid__item-caption > .column {
	transform-origin: 50% -200%;
}

/* Related demos */
.content.content--related {
	font-weight: bold;
	justify-content: center;
	min-height: 0;
	padding-bottom: 10em;
	text-align: center;
	background: #5d5d66;
}

.content--related a {
	color: #b0adad;
}

.content--related a:hover,
.content--related a:focus {
	color: #fff;
}

.content--related p:first-child {
	padding: 6em 0 2em;
}

.content--related p {
	width: 100%;
	color: #37373e;
}

.media-item {
	font-size: 0.85em;
	display: inline-block;
	padding: 1em 2vw;
	vertical-align: top;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.6;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

@media screen and (max-width: 42em) {
	.codrops-header {
		display: block;
		text-align: center;
	}
	.github {
		width: 100%;
		margin: 0;
		padding: 0.5em 0;
	}
	.message-mobile {
		display: block;
	}
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    
    background:-webkit-linear-gradient(#f89106, #e61f57);
background:-moz-linear-gradient(#f89106, #e61f57); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #e61f57;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding:0px;
    padding-top: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.WelcomeText img{
	height:30%;
	width:30%;
	padding-top: 10px;
padding-bottom: 40px;
	display: block;
	margin:auto;

}

.SponsHead h1 {
  letter-spacing: 20px;
  font-size: 35px;
  margin-top: 0px;
  text-align: center;
  font-family: '33535gillsansmt',sans-serif;
  background:-webkit-linear-gradient(#f89106, #e61f57);
  background:-moz-linear-gradient(#f89106, #e61f57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   padding-bottom: 100px;
}
.abouttext{

	font-family: '33535gillsansmt', sans-serif;
	font-size: 24px;
	color:black;
	margin-left: 30px;
	margin-right: 30px;
	text-align:justify;
    text-justify:inter-word;
   background: -webkit-linear-gradient(#f89106, #e61f57);
   background:-moz-linear-gradient(#f89106, #e61f57);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   padding:30px;
}
.z-depth-4 {
  /*box-shadow: 0 3px 28px 0 rgb(243, 117, 36), 0 0px 55px 0 rgba(0, 0, 0, 0.21);*/
  box-shadow:0px 0px 20px -3px rgb(255, 109, 15), 0 0px 55px 0 rgba(255, 0, 0, 0);
}
.aboutHead {
	
	
	background: -webkit-linear-gradient(#f89106, #e61f57);
	background:-moz-linear-gradient(#f89106, #e61f57);


}

.aboutHead h1{

    margin: auto;
    height: 400px;
    overflow-y: hidden;
    text-align: center;
    padding-top: 25%;
    font-size: 80px;
    	font-family: '33535gillsansmt';

}
.pwoliPaper{
	margin-top: 70px;
}

.broch{
	margin-left: 20px;
	margin-right: 20px;
	
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 10vw;
	padding-right: 10vw;
	font-family: '33535gillsansmt';
	font-size: 25px;
	text-align:justify;
    text-justify:inter-word;
    background-image:url('../img/Background/un3.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	
	
}
.broch h1{
	 letter-spacing: 20px;
  font-size: 45px;
  margin-top: 0px;
  text-align: center;
  font-family: '33535gillsansmt',sans-serif;
  background:-webkit-linear-gradient(#f89106, #e61f57);
  background:-moz-linear-gradient(#f89106, #e61f57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.broch p{
	color:black;
}

.aboutcet{
	margin-left: 20px;
	margin-right: 20px;
	
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 10vw;
	padding-right: 10vw;
	font-family: '33535gillsansmt';
	font-size: 25px;
	text-align:justify;
    text-justify:inter-word;
    background-image:url('../img/Background/un2.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	
	
}
.aboutcet h1{
	 letter-spacing: 20px;
  font-size: 45px;
  margin-top: 0px;
  text-align: center;
  font-family: '33535gillsansmt',sans-serif;
  background:-webkit-linear-gradient(#f89106, #e61f57);
  background:-moz-linear-gradient(#f89106, #e61f57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutcet p{
	color:black;
}








#Menubtn span{
     display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 1px;
    z-index: 1;
    margin: auto;
    margin-bottom: 5px;
  
}

#Menubtn{
	background: linear-gradient(-45deg,#EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
	animation: Gradient 7s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}

}




/*Statistics cards*/

.card-grid {
  
  margin-left:20px;
  margin-right:20px;
  margin-top:40px;
}
.card-grid:after {
  content: "";
  display: table;
  clear: both;
}

.card img {
  max-width:100%;
}

.card-wrap {
  float:left;
  width:100%;
  padding:5px;
}


.card {
  background: white;
  color:black;
  
  font-size: 30px;
  background-size: cover;
  
   
   padding-bottom:20px;
   height:700px;
  margin-bottom: 30px;
  
}
.card strong{
	 background:-webkit-linear-gradient(#f89106, #e61f57);
  background:-moz-linear-gradient(#f89106, #e61f57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card p{
	padding-left:20px;
	padding-right:20px;
	
}
.card h2{
	font-size: 34px;
	 background:-webkit-linear-gradient(#f89106, #e61f57);
  background:-moz-linear-gradient(#f89106, #e61f57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card > div {
  padding:0 1em;
}




/*media queries*/
@media (max-width: 1300px) {
	.card{
		height:800px;
	}
	.card-wrap {
    width:25%;
  }
	 
	}



@media (max-width: 1250px){
	.card{
		height:900px;
		font-size:25px;
	}
	 
	.card-wrap {
    width:50%;
  }

}

@media (max-width: 772px){
.card-wrap {
    width:50%;
  }
  .card{
  	height:800px;
  }
}





@media (max-width: 480px) {
	.card-wrap {
    width:100%;
  }
	.card{
		height:700px;
	}
  .SponsHead h1  {
    font-size: 25px;
    letter-spacing: 8px;
  }
  .aboutHead{
  	height:200px;

  }
  .aboutHead h1{
  	font-size:70px;

  
  }
  #main{
  	padding-left:0px;
  	padding-right: 0px;
  	margin-left: 0px;
  	margin-right: 0px;
  }
  .abouttext{
  		padding-left:0px;
  	padding-right: 0px;
  }
  .broch{
  	padding-left: 20px;
  	padding-right: 20px;
  }
  .broch h1{
  	font-size: 30px;
  }
  .aboutcet{
  	padding-left: 20px;
  	padding-right: 20px;
  	
  }
  .aboutcet h1{
  	font-size: 30px;
  }
  .WelcomeText img{
  	padding-top: 150px;
  	height:50%;
  	width:50%;
  }
}
